<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/style.css"/>
    <link rel="icon" type="image/gif" href="/favicon.gif"/>
    <link rel="alternate" title="poita.org" type="application/atom+xml" href="http://feeds.feedburner.com/poita"/>
</head>
<body>
    <div id="top"><a href="/">poita.org</a></div>
    <div id="main">
        <div id="right">
            <p>This is the homepage of Peter Alexander.</p>
            <p>I write code.</p>
            <p>I make games.</p>

            <h2>Recent Posts</h2>
            {% for post in site.posts limit:5 %}
                <a href="{{ post.url }}">{{ post.title }}</a><br/>
            {% endfor %}
            <br/>
            <a href="all-posts.html">All Posts</a><br/>

            <h2>Links</h2>
            <a href="https://github.com/Poita">github.com/Poita</a><br/>
            <a href="https://twitter.com/#!/Poita_">@Poita_</a><br/>
            <a href="https://plus.google.com/113406528604077476949">Google+</a><br/>
            <a href="http://feeds.feedburner.com/poita">Atom Feed</a><br/>
        </div>
        <div id="left">
            {{ content }}
        </div>
    </div>
</body>
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-15314262-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
</html>


